DB_HOST=localhost
DB_NAME=newradheyenterprises
DB_USER=newradheyenterprises
DB_PASSWORD=

AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_MAIL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
